html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: 'Roboto', sans-serif;
}


body {
    width: 100%;
    height: auto;
    /* background-color: rgb(221, 119, 119); */
}

.top 
{
    width: 100%;
    height: 80px;
    background-color: rgb(6, 188, 201);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* need to work on top header */
}

.top .icon
{
    border: 1px solid black;
}

.top .search
{
    border: 1px solid black;
}

.top .log
{
    border: 1px solid black;
}

.nav
{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 1px 5px rgb(180, 180, 180);
    position:sticky;
    top: 00px;
    z-index: 100;
}
.nav a
{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px 15px 10px 15px;
    /*margin: 0px 15px 0px 15px;
    border: 1px solid black;*/
}
.nav a:hover
{
    color: rgb(241, 140, 7);
    text-decoration-line: underline ;
    text-underline-offset: 10px;
    text-decoration-thickness:4px;
}

.cart
{
    position: fixed;
    bottom: 50px;
    right: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 25px 0px;
    border-radius: 20px;
    z-index: 1000;

}
.cart a 
{
    padding: 25px 20px;
    text-decoration: none;
}
.cart:hover
{
    background-color: #ffed84;
    transform: translateY(-2px);
}

.cart:active
{
    transform: translateY(0);
}

.wish
{
    position: fixed;
    bottom: 150px;
    right: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 25px 0px;
    border-radius: 20px;
    z-index: 1000;

}
.wish a 
{
    padding: 25px 20px;
    text-decoration: none;
}
.wish:hover
{
    background-color: #ffed84;
    transform: translateY(-2px);
}

.wish:active
{
    transform: translateY(0);
}

.bottom 
{
    width: 100%;
    height: 80px;
    background-color: rgb(6, 188, 201);
}